<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.radani.www.mensageiro">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/minilogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".mainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".leituraDeviceListActivity"
        android:label="Radani App"
        android:icon="@drawable/logo"
        android:screenOrientation="portrait">
        ">
        </activity>
        <activity
            android:name=".escritaDeviceListActivity"
            android:label="Radani App"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait">
            ">
        </activity>

        <activity
            android:name=".leitura"
            android:label="Radani App"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait">
            ">
        </activity>
        <activity
            android:name=".escrita"
            android:label="Radani App"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait">
            ">
        </activity>
        <activity
            android:name=".escritaEdicao"
            android:label="Radani App"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait">
            ">
        </activity>
        <service android:name=".SerialService" />
    </application>

</manifest>